<div class="row">
  <div class="col-md-6" style="text-align: left">
    <p class="lead">
      <%= @message.body %>
    </p>
    <span style="font-size: 10px"><%= " was send at #{pretty_time(@message.created_at)}" %></span>
  </div>
</div>