<div class="container">
  <h2>Please log in</h2>
  <div class="form-signin">
    <%= simple_form_for :session, url: sessions_url do |f| %>
      <%= f.input :email, label: false, placeholder: 'user@domain.com', class: 'form-control' %>
      <%= f.input :password, label: false, placeholder: 'Password', class: 'form-control' %>
      <%= f.submit 'Log in', class: 'btn btn-lg btn-primary btn-block btn-danger' %>
    <% end %>
  </div> <!-- /container -->
</div> <!-- /container -->