<div class="inner cover">
  <h1 class="cover-heading">Welcome to CoderChat</h1>
  <p class="lead">Chat in the most awkward way you can imagine.</p>
  <p class="lead">
    <a href="/signup" class="btn btn-lg btn-danger">Sign Up</a>
    <a href="/login" class="btn btn-lg btn-default">Log In</a>
  </p>
</div>
