<div class="text-md-center col-md-4">
  <img src=<%= "https://robohash.org/#{u.username}.png?set=set3&size=120x120" %> class="img-rounded">
  <a href="#" class="btn btn-link"><%= u.username %></a>
</div>
